body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(buslogin.jpg);
    background-size: cover;
    height: 80vh;
    background-position: center;

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d86b22;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #c52929ee;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: #007bff;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}