body {
    font-family: 'Arial', sans-serif;
    background-color: #f5efef;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(bus2.png);
    background-size: cover;
    height: 80vh;
    background-position: center;

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #4972a4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #e21717;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.col-form-label {
    font-weight: bold;
    color: #007bff;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.p{
    background-color: blue;
    color: aquamarine;

}