{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Reservation System - Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
    <h1>Login</h1>
    
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form action="{% url 'login_page' %}" method="POST" id="login-form">
        {% csrf_token %}
        <label for="username">Username(give Mail your registered):</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        {% if invalid_credentials %}
            <p style="color: red;">Invalid username or password. Please try again.</p>
        {% endif %}
        
        <button type="submit" class="btn btn-success float-right">Login</button>
    </form>
    
    <center><p>Don't have an account? <a href="{% url 'registration_page' %}">Register here</a></p></center>
</body>
</html>